<%= render "shared/navbar" %>

<main class="scroll-smooth">
  <%= render "sections/parcours" %>
  <%= render "sections/photos" %>
  <%= render "sections/videos" %>
  <%= render "sections/contact" %>
</main>

<%= render "shared/footer" %>
